extends /_base

block prepare
  - var n = 0;

block content
  .field-collection&attributes(attr)
    each field in fields
      - n++
      .field-collection__field
        +render(field)
    .field-collection__actions
      +render(actions)
